<div class="mt-4">
  <div class="ms-8 mb-4 d-flex justify-content-between align-items-center">
    <h1>
      <%= @order.billing_address.username %>
      <span class="honorific-title">さん</span>
    </h1>
    <h2 class="honorific-title me-8 mt-4">
      <strong>購入日時：</strong><%= @order.billing_address.created_at.strftime("%Y/%m/%d %H時%M分") %>
    </h2>
  </div>
  <hr>
  <div class="d-flex justify-content-around mt-4">
    <div class="order-section">
      <h2 class="mb-3">購入品情報</h2>
      <% @order.order_items.each do |order_item| %>
        <p><%= order_item.item.name %> / <%= number_to_currency(order_item.price) %>  / <%= order_item.amount %>個</p>
      <% end %>
      <p class="font-weight-bold">合計 <%= number_to_currency(@total_price) %></p>
    </div>
    <div class="order-section">
      <h2 class="mb-3">購入者情報</h2>
      <p><%= @order.billing_address.email %></p>
      <p><%= @order.billing_address.country %></p>
      <p><%= @order.billing_address.prefecture %></p>
      <p><%= @order.billing_address.post_code %></p>
      <p><%= @order.billing_address.address %></p>
    </div>
    <div class="order-section">
      <h2 class="mb-3">購入者カード情報</h2>
      <p><%= @order.payment.name_on_card %></p>
      <p><%= @order.payment.masked_credit_card_number %></p>
    </div>
  </div>
</div>
<section class="py-5">
  <h2 class="bought_items ms-8 mb-4">購入品一覧</h2>
  <div class="container px-4 px-lg-5 mt-5">
    <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
      <% @order.order_items.each do |order_item| %>
        <div class="col mb-5">
          <div class="card h-100">
            <% if order_item.item.image.attached? %>
              <%= image_tag order_item.item.image , class: "card-img-top" , height: "178.66px" , width: "268px" %>
            <% end %>
            <% unless order_item.item.image.attached? %>
              <%= image_tag "https://dummyimage.com/450x300/dee2e6/6c757d.jpg" , class: "card-img-top" %>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</section>
