<style>
  .detail-icon {
    width: 16px;
    height: 16px;
    position: relative;
    top: 20px;
    left: 250px;
    z-index: 99;
  }
</style>

<div class="col mb-5">
<a href="./items/<%= item.id %>">
  <svg class="detail-icon" focusable="false" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M12 8c1.1 0 2-.9 2-2s-.9-2-2-2-2 .9-2 2 .9 2 2 2zm0 2c-1.1 0-2 .9-2 2s.9 2 2 2 2-.9 2-2-.9-2-2-2zm0 6c-1.1 0-2 .9-2 2s.9 2 2 2 2-.9 2-2-.9-2-2-2z"></path></svg>
  <div class="card h-100">
  </a>
    <!-- Product image-->
    <% if item.image.attached? %>
      <%= image_tag item.image , class: "card-img-top" , height: "178.66px" , width: "268px" %>
    <% end %>
    <% unless item.image.attached? %>
      <%= image_tag "https://dummyimage.com/450x300/dee2e6/6c757d.jpg" , class: "card-img-top" %>
    <% end %>
    <!-- Product details-->
    <div class="card-body p-4">
      <div class="text-center">
        <!-- Product name-->
        <h5 class="fw-bolder"><%= item.name %></h5>
        <!-- Product price-->
        $<%= item.price%>
      </div>
    </div>
    <!-- Product actions-->
    <div class="card-footer p-4 pt-0 border-top-0 bg-transparent d-flex justify-content-around">
      <div>
        <%= button_to 'Add to Cart', add_item_to_cart_path(item_id: item.id, amount: 1), class: 'btn btn-outline-dark mt-auto', form: { style: 'display: inline;' } %>    
      </div>
      <% if @is_admin %>
        <div>
          <%= button_to 'Add to Cart', add_item_to_cart_path(item_id: item.id, amount: 1), class: 'btn btn-outline-dark mt-auto', form: { style: 'display: inline;' } %>
        </div>
      <% end %>
    </div>
  </div>
</div>
<script>
  function CheckDelete(){
      if(confirm('削除しますか？')){
          return true;
      }else{
          return false;
      }
  }
</script>