<style>
  .hidden-id{
    display: none;
  }
</style>
<section class="py-5">
  <% if @is_admin %>
    <div class="d-flex justify-content-center bg-danger lead fw-normal text-white-50 py-4">
      Admin Page
    </div>
  <% end %>
  <div class="notifications">
    <% flash.each do |message_type, message| %>
      <div class='<%= message_type %>'>
        <%= message %>
      </div>
    <% end %>
  </div>
  <div class="container px-4 px-lg-5 my-5">
    <div class="row gx-4 gx-lg-5 align-items-center">
      <div class="col-md-6">
        <% if item.image.attached? %>
          <%= image_tag item.image , class: "card-img-top mb-5 mb-md-0" , height: "600px" , width: "700px" %>
        <% end %>
        <% unless item.image.attached? %>
          <%= image_tag "https://dummyimage.com/600x700/dee2e6/6c757d.jpg" , class: "card-img-top mb-5 mb-md-0" , height: "600px" , width: "700px" %>
        <% end %>
      </div>
      <div class="col-md-6">
        <div class="small mb-1">SKU: BST-498</div>
        <div class="d-flex">
          <h1 class="display-5 fw-bolder"><%= item.name %></h1>
          <% if @is_admin %>
            <a href="/admin/items/<%= @item.id %>/edit" class="mx-5 mt-3"><i class="fa-solid fa-pen fa-2x" style="color:blue;"></i></a>
          <% end %>
        </div>
        <div class="fs-5 mb-3">
          <span>・<%= item.price %>円</span>
        </div>
        <% if @is_admin %>
          <div class="fs-5 mb-3">
            <span>・在庫数 : <%= item.stock %></span>
          </div>
        <% end %>
        <p class="lead"><%= item.description %></p>
        <%= form_with url: add_item_to_cart_path, method: :post, class: 'd-flex', style: 'display: inline;' do %>
          <%= number_field_tag :amount, 1, min: 1, class: "form-control text-center me-3", style: "max-width: 3rem" %>
          <%= number_field_tag :item_id, item.id , class: 'hidden-id'%>
          <%= submit_tag 'Add to Cart', class: 'btn btn-outline-dark mt-auto' %>
        <% end %>
      </div>
    </div>
  </div>
</div>
</section>
